body {
  display: flex;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: white;
}
div {
  position: relative;
  text-align: center;
  color: white;
  background: #121212;
  font-family: "Roboto mono";
  padding: 0.5rem;
  border: white solid 2px;
  height: 15rem;
}
.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 18rem;
  width: 19rem;
  overflow: auto;
  margin: 0;
  align-items: center;
  align-content: center;
  flex-direction: row;
  border: none;
  background: none;
  position: absolute;
  opacity: 1;
  transition: opacity cubic-bezier(1, 0, 1, 0) 0.3s;
  overflow: hidden;
}
div#div {
  transition: width 0.3s, height 0.3s;
  width: 35ch;
}

div.closed > div.controls {
  opacity: 0;
  transition: opacity cubic-bezier(0, 1.19, 0.25, 1) 0.3s;
}
div#div.closed {
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}
input,
select,
label {
  flex: 30%;
  width: 5ch;
  margin: 10px 0;
  /* margin: 0; */
  border: none;
  line-height: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
label {
  text-align: end;
  margin-right: 1rem;
}

span#icon {
  font-size: 5rem;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;
}

.spin {
  animation: spin 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
